# Python
__pycache__/
*.py[cod]
*.pyo

# Packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
